{% extends 'web_app_hotel_app/baseadmin.html' %} 

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/admincontrol.css' %}" />
{% endblock %} 

{% block content %}

    <div class="admin-control-page">
      <h2>Admin Control Panel</h2>

      <h3>Manage Rooms</h3>
      <p><a href="/roomsadmin/">View Rooms</a></p>

      <h3>Manage Reservations</h3>
      <p><a href="/reservationsadmin/">View Reservations</a></p>

      <h3>Manage Guests</h3>
      <p><a href="/adminguestcontrol/">View Guests</a></p>
    </div>

{% endblock %}
