{% extends 'web_app_hotel_app/baseadmin.html' %} 

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/adminlogin.css' %}" />
{% endblock %} 
{% block topbar %} {% endblock %}

{% block admincontrollink %} 
<h1>
  <a style="text-decoration: none" href="#"
    >Hotel Management System</a
  >
</h1>
{% endblock  %}

{% block content %}

    <div class="admin-login-form">
      <h2>Admin Login</h2>
      <form action="/admincontrol/">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required />

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />

        <button type="submit">Log In</button>
      </form>
    </div>

{% endblock %}