{% extends 'web_app_hotel_app/base.html' %} 

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/contactguest.css' %}" />
{% endblock %} 

{% block content %}

    <div class="guest-messages-page">
      <h2>Send Message to Admin</h2>

      <form action="#">
        <label for="name">Name:</label>
        <input type="text" id="name" required />

        <label for="email">Email:</label>
        <input type="email" id="email" required />

        <label for="subject">Subject:</label>
        <input type="text" id="subject" required />
        <label for="message">Message:</label>
        <textarea id="message" rows="4" required></textarea>

        <button type="submit">Send Message</button>
      </form>

      <div class="inbox">
        <h3>Inbox</h3>

        <div class="message">
          <div class="subject">Subject:</div>
          <div class="sender">From: john@example.com</div>
          <div class="date">Date: 2023-05-17</div>
          <div class="content">
            <p></p>
          </div>
        </div>

        <div class="message">
          <div class="subject">Subject:</div>
          <div class="sender">From: jane@example.com</div>
          <div class="date">Date: 2023-05-16</div>
          <div class="content">
            <p></p>
          </div>
        </div>

        <!-- Add more messages here -->
      </div>
    </div>

{% endblock %}