{% extends 'web_app_hotel_app/baseadmin.html' %} 

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/contactadmin.css' %}" />
{% endblock %} 

{% block content %}


    <div class="admin-messaging-page">
      <h2>Send Message to Guest</h2>

      <form>
        <label for="guest-email">Guest Email:</label>
        <input type="email" id="guest-email" required />

        <label for="message">Message:</label>
        <textarea id="message" rows="4" required></textarea>

        <button type="submit">Send Message</button>
      </form>

      <div class="inbox">
        <h3>Inbox</h3>

        <div class="inbox-item">
          <strong>From: </strong>guest@example.com<br />
          <strong>Message: </strong>Lorem ipsum dolor sit amet, consectetur
          adipiscing elit.<br />
          <button class="reply-button">Reply</button>
        </div>
        <div class="inbox-item">
          <strong>From: </strong>guest2@example.com<br />
          <strong>Message: </strong>Sed do eiusmod tempor incididunt ut labore
          et dolore magna aliqua.<br />
          <button class="reply-button">Reply</button>
        </div>

        <!-- Add more inbox items here -->
      </div>
    </div>

{% endblock %}
