{% extends 'web_app_hotel_app/baseloggedout.html' %} 
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/guestsignup.css' %}" />
{% endblock %} 
{% block topbar %} {% endblock %}

{% block content %}

    <div class="signup-form">
      <h2>Create an Account</h2>
      {% if form.errors %}
      <br />
      <p style= "color: red;">There was an error in your form</p>
      <br />
      {% endif %}
      <form method="POST" action="">
        {% csrf_token %}

        {{ form.as_p }}
        <br /><br />

        <button type="submit">Sign Up</button>
      </form>
      <br />
      <span>
        Already have an Account?
        <a href="/guestlogin/">Log in</a>
      </span>
    </div>
    {% endblock  %}