{% extends 'web_app_hotel_app/baseloggedout.html' %} 
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/guestlogin.css' %}" />
{% endblock %} 
{% block topbar %} {% endblock %}

{% block content %}

    <div class="login-form">
      <h2>Guest Login</h2>
      {% if messages %}
        {% for message  in messages %}
        <div style="color: red;">
          {{message}}
        </div>
        {% endfor %}
      {% endif %}
      <form method="POST" action="">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required />

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required />

        <button type="submit">Log In</button>
      </form>
      <br />
      <span
        >Don't have an Account?
        <a href="/signup/">Sign up</a></span
      >
    </div>
{% endblock %}
