{% extends 'web_app_hotel_app/baseadmin.html' %} 

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/reservationsadmin.css' %}" />
{% endblock %} 

{% block content %}


    <div class="admin-room-reservation-page">
      <h2>Room Reservation</h2>

      <form>
        <label for="room-type">Room Type:</label>
        <select id="room-type">
          <option value="standard">Standard Room</option>
          <option value="deluxe">Deluxe Room</option>
          <option value="suite">Suite</option>
        </select>

        <label for="check-in-date">Check-in Date:</label>
        <input type="date" id="check-in-date" required />

        <label for="check-out-date">Check-out Date:</label>
        <input type="date" id="check-out-date" required />

        <button type="submit">Make Reservation</button>
      </form>

      <h2>Cancel Reservation</h2>

      <form>
        <label for="reservation-id">Reservation ID:</label>
        <input type="text" id="reservation-id" required />

        <button type="submit">Cancel Reservation</button>
      </form>
    </div>

{% endblock %}