{% extends 'web_app_hotel_app/base.html' %} 

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/rooms.css' %}" />
{% endblock %} 

{% block content %}

    <div class="room-container">
      <div class="room-card">
        <form action="/reservations/">
          <h3>Deluxe Room</h3>
          <p>
            Spacious room with a comfortable king-size bed, en-suite bathroom,
            and stunning city views.
          </p>
          <p>Price: $200 per night</p>
          <br />
          <button type="submit">Book now</button>
        </form>
      </div>

      <div class="room-card">
        <form action="/reservations/">
          <h3>Standard Room</h3>
          <p>
            A cozy room with a queen-size bed, en-suite bathroom, and a small
            sitting area.
          </p>
          <p>Price: $150 per night</p>
          <br />
          <button type="submit">Book now</button>
        </form>
      </div>

      <div class="room-card">
        <form action="/reservations/">
          <h3>Suite</h3>
          <p>
            Luxurious suite featuring a separate living area, a bedroom with a
            king-size bed, and a private balcony.
          </p>
          <p>Price: $300 per night</p>
          <br />
          <button type="submit">Book now</button>
        </form>
      </div>

      <div class="room-card">
        <form action="/reservations/">
          <h3>Family Room</h3>
          <p>
            Perfect for families, this room offers two double beds, a spacious
            bathroom, and a play area for kids.
          </p>
          <p>Price: $250 per night</p>
          <br />
          <button type="submit">Book now</button>
        </form>
      </div>
    </div>
{% endblock %}
